body {

}


.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2rem;
}


.media-body{
	
/*	box-shadow: 0 0 3pt 2pt green;
	padding: 2%;*/
}

.content-section{
	background: white;
	padding: 2%;
	border-radius: 10px;
	height: auto;
  	margin: auto;

}




@media screen and (max-width:768px) {

	.content-section{
		margin-top: 8%;
	}
	.account-heading{
		font-size: 1em;
	}

    
}
