{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Demo
{% endblock title %}


{% block extrahead %} 
    <link rel="stylesheet" href="{% static 'css/meals.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo_meals.css' %}">
    <link rel="stylesheet" href="{% static 'css/loading.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweet_alert.css' %}">
    <link rel="stylesheet" href="{% static 'css/meals_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/button_hover.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="robots" content="index, follow"/>

{% endblock extrahead %}


{% block content %}


<div id="loader">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>

<div id="wrapper" style="margin-top: 2%">
            <div class="d-flex flex-column" id="content-wrapper" style="padding: 3%; border-radius: 5px;">
                <div id="content">
                    <div class="container-fluid">

                        <div class="d-sm-flex justify-content-between align-items-center mb-4">
                            <h3 class="text-secondary mb-0">Meal Plan</h3>
                            <a class="btn btn-sm d-none d-sm-inline-block" role="button" href="#" onclick="window.print()" style="background: #0C7020;color:white;"><i class="fas fa-download"></i>&nbsp;Print Meal Plan</a>
                        </div>

                        <!------ Form ------->
                        <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-secondary font-weight-bold m-0" style="color: #3dba12;"> Enter Meal Plan Information </h6>
                                       
                                    </div>

                                    <div class="card-body">
                                            <div id = "macrosError" class="alert alert-danger" style="display: none"> 
                                                <h6 style="color: #ad3e36"> Your carbs, protein and fat percentages must add up to 100%! </h6>
                                            </div>
                                            <div id = "notFoundError" class="alert alert-danger" style="display: none"> 
                                                <h6 style="color: #ad3e36"> Oops :( We couldn't find you a meal. Try chaging your contraints. </h6>
                                            </div>
                                        <form id="macrosForm" name="macrosForm" onsubmit="return false">
                                          <div class="row justify-content-center">
 
                                            <div class="form-group col-md-3">
                                              <label for="caloriesInput">Calories*</label>
                                              <input type="number" class="form-control" id="caloriesInput" placeholder="1900" readonly>
                                            </div>

                                            <div class="form-group col-md-3">
                                              <label for="mealsInput"># of meals</label>
                                              <input type="number" class="form-control" id="mealsInput" placeholder="3" readonly>
                                            </div>

                                            <div class="form-group col-md-3">
                                              <label for="snacksInput"># of snacks</label>
                                              <input type="number" class="form-control" id="snacksInput" placeholder="2" readonly>
                                            </div>

                                            
                                          </div>

                                          
                                          <hr>

                                          <div class="row justify-content-center">

             
                                              <div class="form-group col-md-3">
                                              <label for="carbsInput">Carbs</label>
                                              <input type="number" class="form-control" id="carbsInput" placeholder="40%" readonly>
                                            </div>
                                            <div class="form-group col-md-3">
                                              <label for="proteinInput">Protein</label>
                                              <input type="number" class="form-control" id="proteinInput" placeholder="30%" readonly>
                                            </div>
                                            <div class="form-group col-md-3">
                                              <label for="fatInput">Fat</label>
                                              <input type="number" class="form-control" id="fatInput" placeholder="30%" readonly>
                                            </div>
                                          </div>
  
                                        <button id="generateButton" type="submit" class="btn btn-block">
                                          Generate Meal Plan
                                        </button>
                                        </form> 
                                        <br>
                                        <div class="text-center">
                                          <div id="centralSpinner" class="spinner-border text-secondary" role="status" style="display: none">
                                          </div>
                                        </div>
                                        


                                    </div>
                                </div>


                        <!------ Meals Section ------->
                        <div class="row" id="mealsRow">
                            <div class="col-lg-6 col-xl-8">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-secondary font-weight-bold m-0" style="color: #3dba12;"> {{date }}</h6>
                                        <button class="btn" style="background: #0C7020;color:white;" type="button" data-toggle="modal" data-target="#regenerateModal">
                                            <span id="spinner"class="spinner-border spinner-border-sm mb-auto" role="status" aria-hidden="true" style="display: none;"></span>

                                            <!-- Regenerate All &nbsp;&nbsp; -->
                                            <i id="mainRefresh"class="fa fa-refresh"></i>
                                        </button>

                                    </div>

                                    <div class="card-body">
                                        {% for i in r_num_of_meals %}
                                            {% include 'meal_plan/meal.html' %}
                                        {% endfor %}

                                        <div class="card shadow mb-4">
                                            <div class="card-header d-flex justify-content-between align-items-center">
                                                <h6 class="text-secondary font-weight-bold m-0">
                                                    <span> Snacks </span>
                                                </h6>
                                            </div>
                                            <div class="card-body">
                                                <h6 class="text-secondary font-weight-bold m-0"> Snacks allowance: </h6>
                                                <hr>
                                                <h6 id="snacksText"class="text-secondary m-0"> You have opted for no snacks </h6>
                                                
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-6 col-xl-4">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-secondary font-weight-bold m-0">Caloric Breakdown</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-area">
                                            <canvas id="pieChart"></canvas>
                                        </div>
                              
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h4 id="caloriesText" class="text-secondary">Calories in meals: {{calories}}</h4>
                                    <h4 id="snackCaloriesText" class="text-secondary">Calories in snacks: 100</h4>
                                    <h4 id="totalCaloriesText" class="text-secondary">Total calories: {{calories}}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <div class="card shadow mb-4">
                                                <div class="card-header py-3">
                                                    <h6 class="text-secondary font-weight-bold m-0">Macronutrients</h6>
                                                </div>
                                                <div class="card-body">
                                                    <h4  class="small font-weight-bold">
                                                        Carbs
                                                        <span id = "carbsText" class="float-right">20g</span>
                                                    </h4>
                                                    <div class="progress mb-4">
                                                        <div id = "carbsProgressBar" class="progress-bar" style="background:#15AEC0;width: 50%;">
                                                        </div>
                                                    </div>
                                                    
                                                    <h4 class="small font-weight-bold">Protein
                                                        <span id = "proteinText" class="float-right">40g</span>
                                                    </h4>
                                                    <div class="progress mb-4">
                                                        <div id="proteinProgressBar" class="progress-bar" style="background:#0ED7EF;width: 40%;">
                                                            
                                                        </div>
                                                    </div>
                                                    <h4 class="small font-weight-bold">Fat<span id="fatText" class="float-right">60g</span></h4>
                                                    <div class="progress mb-4">
                                                        <div id="fatProgressBar" class="progress-bar" style="background:#549198;width: 60%;">
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <div class="card shadow mb-4">
                                                <div class="card-header py-3">
                                                    <h6 class="text-secondary font-weight-bold m-0">Other Nutrients</h6>
                                                </div>
                                                <div class="card-body">
                                                    <h4  class="small font-weight-bold">
                                                        Vitamin A
                                                        <span id = "vitaminAText" class="float-right">20%</span>
                                                    </h4>
                                                    <div class="progress mb-4">
                                                        <div id = "vitaminAProgressBar" class="progress-bar" style=" background:#0C7020;width: 50%;">
                                                        </div>
                                                    </div>
                                                    
                                                    <h4 class="small font-weight-bold">
                                                        Vitamin C
                                                        <span id = "vitaminCText" class="float-right">40%</span>
                                                    </h4>
                                                    <div class="progress mb-4">
                                                        <div id="vitaminCProgressBar" class="progress-bar" style="background:#0C7020;width: 40%;">
                                                            
                                                        </div>
                                                    </div>

                                                    <h4 class="small font-weight-bold">
                                                        Calcium
                                                        <span id="calciumText" class="float-right">60%</span></h4>
                                                    <div class="progress mb-4">
                                                        <div id="calciumProgressBar" class="progress-bar" style="background:#0C7020;width: 60%;">
                                                        </div>
                                                    </div>

                                                    <h4 class="small font-weight-bold">
                                                        Iron
                                                        <span id="ironText" class="float-right">80%</span></h4>
                                                    <div class="progress mb-4">
                                                        <div id="ironProgressBar" class="progress-bar" style="background:#0C7020;width: 60%;">
                                                        </div>
                                                    </div>

                                                    <h4 class="small font-weight-bold">
                                                        Fiber
                                                        <span id="fiberText" class="float-right">90%</span></h4>
                                                    <div class="progress mb-4">
                                                        <div id="fiberProgressBar" class="progress-bar" style="background:#0C7020;width: 60%;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#wrapper"><i class="fas fa-angle-up"></i></a></div>


        <div class="modal fade" id="regenerateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Are you sure you want to regenerate all meals?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                This action will mean your old meals will be lost.
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
   
                    <button id="regenButton" class="btn" style="background: #0C7020;color:white;" type="button" data-toggle="modal" data-target="#regenerateModal">
                        <span id="spinner"class="spinner-border spinner-border-sm pb-1" role="status" aria-hidden="true" style="display: none;"></span>
                        Regenerate All &nbsp;&nbsp;
                        <i class="fa fa-refresh"></i>
                    </button>
              </div>
            </div>
          </div>
        </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

    <!-- declaring variables to be passed to generare_meals.js -->
    <script>
    var userCals = {{calories}};
    var userNumOfMeals = {{num_of_meals}};
    var userNumOfSnacks = {{num_of_snacks}};
    var proteinPercent = {{protein_percent}};
    var fatPercent = {{fat_percent}};
    var carbsPercent = {{carbs_percent}};

    // var $j = jQuery.noConflict();
    </script>


    <script src="{% static 'js/generate_demo_meals.js'%}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        
{% endblock content %}
