<!-- Adapted from:
https://inspiredwebdev.com/create-responsive-html-login-form -->

{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock title %}


{% block extrahead %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <meta name="description" content="Log into Meal Mill to start generating your daily meals.">
    <meta name="robots" content="index, follow"/>
{% endblock extrahead %}


{% block content %}
    <div class="container pt-5" id="main">

        <div id="form_wrapper">
            <div id="form_left">
                <img src="{% static 'images/main_logo.svg' %}" alt="food icon">
            </div>
            <div id="form_right">
                <div>

<!--                     {% if messages %}
                    {% for message in messages %}

                    <div class="alert alert-{{ message.tags }}"> 
                        {{ message }}
                    </div>

                    {% endfor %}
                    {% endif %} -->

                </div>                

                
                <form class = "frm" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form | crispy }}
                        <input type="submit" value="Login" id='input_submit' class='input_field'>
                    </fieldset>
                    <hr>



                    <a href="{% url 'reset_password' %}"> Forgot Your Password?</a>
                    <span id='create_account'>
                        <a href="{% url 'register' %}">Create an account</a>
                    </span>

                </form>

            </div>
        </div>
    </div>


{% endblock content %}
