{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Reset Password
{% endblock title %}

{% block extrahead %} 

    <link rel="stylesheet" type="text/css" href="{% static 'css/email_verification.css' %}">
    <meta name="robots" content="noindex, nofollow" />

{% endblock extrahead %}

{% block content %}

    <div class="form_wrapper">
        <div class="row justify-content-center" id = "main">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="p-1">
                                    <div class="text-center">
                                        	<h4 class="text-dark mb-2">Reset your password</h4>
                                        {% if form %}
                                        	<p class="mb-4">Enter your new password below</p>
                                        {% else %}
                                       		<div class="alert alert-danger"> 
                        						Invalid token.
                    						</div>
                                        {% endif %}
                                    </div>
                                    
                                    {% if form %}
	                        			<form action="" method="POST">
											{% csrf_token %}
											{{form | crispy}}
											<div class="row justify-content-center">
												<input id="login_button" type="submit" value="Reset Password" class="text-center" />
											</div>
										</form>
									{% endif %}

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
