{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Reset Password
{% endblock title %}

{% block extrahead %} 

    <link rel="stylesheet" type="text/css" href="{% static 'css/email_verification.css' %}">
    <meta name="robots" content="noindex, nofollow" />

{% endblock extrahead %}

{% block content %}

    <div class="form_wrapper">
        <div class="row justify-content-center" id = "main">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="p-1">
                                    <div class="text-center">
                                    	<h4 class="text-dark mb-2">Reset successful!</h4>
                                   		<div class="alert alert-success"> 
                    						Your password was successfully changed!
                						</div>
                						<p class="mb-4">Press the login button below.</p>
                						<button id="login_button" href="{% url 'login' %}" onclick="location.href='{% url 'login' %}';"> Login </button>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
