{% extends 'base.html' %}
{% load static %}

{% block title %}
    Email Sent
{% endblock title %}

{% block extrahead %} 

    <link rel="stylesheet" type="text/css" href="{% static 'css/email_verification.css' %}">
    <meta name="robots" content="noindex, nofollow" />

{% endblock extrahead %}

{% block content %}

    <div class="form_wrapper">
        <div class="row justify-content-center" id = "main">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="p-1">
                                    <div class="text-center">
                                    	<h4 class="text-dark mb-2">Check your inbox</h4>
                                    	<div>
                                            <div class="alert alert-success"> 
                                                We've sent you an email with a link to reset your password.
                                            </div>
                                        </div> 
                                        <p class="mb-4">If the email you entered is associated with an account, you will recieve a password reset link shortly.</p>
                                        <p class="mb-4">Be sure to check your spam/junk.</p>
                                        <button id="login_button" href="{% url 'login' %}" onclick="location.href='{% url 'login' %}';"> Login </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
