{% extends 'logged_in_base.html' %}

{% load crispy_forms_tags %}

{% load static %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/profile_style.css' %}">

  <div class="container pt-5">

  	<div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
          <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            <p class="text-secondary">{{ user.profile.weight }}</p>
            <p class="text-secondary">{{ user.profile.activity_level }}</p>
            <p class="text-secondary">{{ user.profile.gender }}</p>
            <p class="text-secondary">{{ user.profile.age }}</p>

          </div>
        </div>
      </div>

  </div>

{% endblock content %}


