<!-- Adapted from:
https://inspiredwebdev.com/create-responsive-html-login-form -->
{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Register
{% endblock title %}

{% block content %}

{% block extrahead %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/register_style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.2.0/dist/jBox.all.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


<meta name="description" content="Create an account for free and start generating meal plans instantly.">
<meta name="robots" content="index, follow" />
{% endblock extrahead %}


    <div class="container pt-5">

        <div id="form_wrapper">
            <div id="form_left">
                <div class="container">
 <!--                    {% if wizard.steps.prev %}
                        <h4> Tell us more ... </h4>
                    {% else %}
                        <h4> Register </h4>
                    {% endif %} -->

                    <img class="center" src="{% static 'images/main_logo.svg' %}" alt="food icon">
                </div>
                
            </div>

            <div id="form_right">

                {{ wizard.form.media }}

                <form action="/register/" method="POST" class="frm" name="myForm"> 
                    {% csrf_token %}

                    <fieldset class="form-group">
                        {{ wizard.management_form }}

                            {% if not wizard.steps.prev %}
                                {{ wizard.form | crispy }} 
                            {% else %}

                                <div class="form-row">
                                    <div class="form-group col-md-6 mb-0">
                                        {{ wizard.form.weight|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        {{ wizard.form.preferred_units|as_crispy_field }}
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6 mb-0">
                                        {{ wizard.form.gender|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        {{ wizard.form.age|as_crispy_field }}
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-5 mb-0">
                                        {{ wizard.form.goal|as_crispy_field }}
                                    </div>

                                    <div class="form-group col-md-5 mb-0">
                                        {{ wizard.form.activity_level|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <i class="fas fa-question-circle" id="tooltip"></i>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6 mb-0" id="metric-div">
                                        {{ wizard.form.height|as_crispy_field }}
                                    </div>


                                    <div class="form-group col-md-6 mb-0" style="display: none" id="imperial-div">
                                        <div class="d-flex flex-row">
                                            <div style="padding-right: 5px">
                                                {{ wizard.form.height_feet_seg|as_crispy_field }}
                                            </div>
                                            <div>
                                                {{ wizard.form.height_inches_seg|as_crispy_field }}
                                            </div>
                                            
                                            
                                        </div>

                                    </div> 

                                    <div class="form-group col-md-6 mb-0">
                                        {{ wizard.form.preferred_height_units|as_crispy_field }}
                                    </div>
                                </div>


                            {% endif %}


                        {% if wizard.steps.prev %}
                            <input type="submit" value="Submit" id='input_submit' class="input_field" />

                        {% else %}
                            <input type="submit" value="Next" id='input_submit' class="input_field" />

                        {% endif %}


                    </fieldset>
                    <hr>

                    <a href="{% url 'login' %}">Already Have an Account? Login</a>

                </form>
                 
            </div>
        </div>


    <script>
        $(function(){
            box = new jBox('Tooltip', {
            attach: '#tooltip',
            pointer: 'left',
            animation: 'zoomIn',   
            content: 
            'Couch potato: You live a sedentary lifestyle. <br/>\
            Lightly active: You engage in some light exercise 1-2 times per week. <br/>\
            Moderately active: You engage in exercise 3 times per week. <br/>\
            Pretty active: You engage in exercise 4-5 times per week. <br/>\
            Extremely active: You engage in exercise almost daily and your job involves constant activity.',
            theme: 'TooltipDark'        
            });

            box.setWidth(250);
        });


        function setHeightSelection(){
            if(document.getElementById("id_1-preferred_height_units_1").checked){
                document.getElementById("imperial-div").style.display = "none";
                document.getElementById("metric-div").style.display = "block"; 
            }
            else {
                document.getElementById("metric-div").style.display = "none";
                document.getElementById("imperial-div").style.display = "block"; 
            }

            document.getElementById("id_1-preferred_height_units_1").onclick = function(){
                document.getElementById("imperial-div").style.display = "none";
                document.getElementById("metric-div").style.display = "block"; 
            }
            document.getElementById("id_1-preferred_height_units_2").onclick = function(){
                document.getElementById("metric-div").style.display = "none";
                document.getElementById("imperial-div").style.display = "block"; 
            }
        }
        {% if wizard.steps.prev %}
            setHeightSelection();
        {% endif %}
        
    </script>

    <script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.2.0/dist/jBox.all.min.js"></script>

    
</div>


{% endblock content %}


