{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Get Started
{% endblock title %}

{% block extrahead %} 

    <link rel="stylesheet" type="text/css" href="{% static 'css/registration_complete_style.css' %}">
    <meta name="robots" content="noindex, nofollow" />

{% endblock extrahead %}

{% block content %}

    <div class="form_wrapper">
        <div class="row justify-content-center" id = "main">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-center">

                            <div class="col-lg-8">
                                <div class="p-1">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-2">Welcome {{ user.username }}</h4>
                                        <p class="mb-4">Before you go on, would you like to edit your daily calories and macros? The amount below is reccomended based on your profile.</p>
                                    </div>
                                    <form class="user" method="POST">
                                    	{% csrf_token %}
                                        
                                        <p> {{ m_form.errors }}</p>
   
                                            <div class="form-row">
                                                <div class="col">
                                                    {{ m_form.calories | as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12 col-lg-4">

                                                    {{ m_form.carbs_percent | as_crispy_field }}
                                                    

                                                </div>
                                                <div class="col-md-12 col-lg-4">
                                                    
                                                    {{ m_form.protein_percent | as_crispy_field }}
                                                </div>
                                                <div class="col-md-12 col-lg-4">
                                                    
                                                    {{ m_form.fat_percent | as_crispy_field }}
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-12 col-lg-6">
                                                    {{ m_form.num_of_meals | as_crispy_field }}
                                                </div>
                                                <div class="col-md-12 col-lg-6">
                                                    {{ m_form.num_of_snacks | as_crispy_field }}
                                                </div>
                                            </div>
                                        </div><button class="btn btn-success btn-block text-white btn-user" type="submit">Im Ready!</button>
                                        	
                                
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
