
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-892HQEW60Z"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-892HQEW60Z');
    </script>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> Meal Mill - {% block title %} {% endblock title %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' type='image/x-icon' %}">
    <link rel="stylesheet" href="{% static 'css/navbar_style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    {% block extrahead %} {% endblock extrahead %}

</head>

    

    <!--- Navigation Bar ------->
    <!--- Nav bar adapted from: https://bootstrapious.com/p/transparent-navbar --------->

    <header class="header">


        <nav class="navbar navbar-expand-lg fixed-top py-3">
        <div class="container"><a href="{% url 'home' %}" class="navbar-brand text-uppercase font-weight-bold">Meal Mill</a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
            
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    

                    {% if user.is_authenticated %}
                        <li class="nav-item"><a href="{% url 'logout' %}?next=/login" class="nav-link text-uppercase font-weight-bold">Logout</a></li>
                    {% else %}
                        <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link text-uppercase font-weight-bold">Login</a></li>
                        <li class="nav-item"><a href="{% url 'register' %}" class="nav-link text-uppercase font-weight-bold">Register</a></li>
                    {% endif %}
                </ul>
                </div>
            </div>
        </nav>
        

    <!--- /Navigation Bar ------->


    </header>


<body>

            
        {% block content %}
        replace me
        {% endblock content%}




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src=" {% static 'js/navbar.js'%}"></script>


</body>

</html>
