{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}


{% block title %}
    Contact
{% endblock title %}


{% block extrahead %} 
    <link rel="stylesheet" href="{% static 'css/button_hover.css' %}">
    <meta name="robots" content="noindex, nofollow" />

    <style type="text/css">
        body {
            background-color: #0C7020;
        }
    </style>
{% endblock extrahead %}

{% block content %}
        
        <br>
        
        <div class="container my-5" style="background-color: white">
            <div class="row">

                <div class="col-xl-8 offset-xl-2 my-5">

                    <h1 style="color:#868e96">Contact us!</h1>
                    <p class="lead"> You can reach us directly at hello@mealmill.co</p>
                    <p class="lead"> You can also reach out using the form below:</p>
                    <div>

                        {% if messages %}
                        {% for message in messages %}

                        <div class="alert alert-{{ message.tags }}"> 
                            {{ message }}
                        </div>

                        {% endfor %}
                        {% endif %}

                    </div>  

                    
                    <form class = "frm" method="POST">
                        {% csrf_token %}

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6">
                                    {{ c_form.first_name|as_crispy_field }}
                                        
                                </div>
                                <div class="col-md-6">
                                    {{ c_form.last_name|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ c_form.email|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                   {{ c_form.subject|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ c_form.message|as_crispy_field }}
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-success btn-send" value="Send message">
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                                <div class="col-md-12">
                                    <p class="text-muted">
                                        <strong>*</strong> These fields are required. 
                                    </p>
                                        
                                </div>
                            </div>

                    </form>

                </div>

            </div>

        </div>



{% endblock content %}