<!-- Inspired by a Shopify Template -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
   Home
{% endblock title %}

{% block extrahead %} 

    <link rel="stylesheet" href="{% static 'css/home.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel='stylesheet' href="{% static 'css/home_top.min.css' %}" />

    <meta name="description" content="Meal Mill allows you to automatically generate meal plans that meet your dietary goals.">
    <meta name="robots" content="index, follow" />
{% endblock extrahead %}


{% block content %}

      <div class="hero">
        <div class="hero__overlay hero__overlay--gradient"></div>
        <div class="hero__mask"></div>
        <div class="hero__inner">
            <div class="container">
                <div class="hero__content">
                    <div class="hero__content__inner" id='navConverter'>
                        <h1 class="hero__title">MEAL MILL</h1>
                        <div class="d-flex justify-content-center">
                            <p class="hero__text"> Eating Made Simple </p>
                        </div>
                        
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'register' %}" class="button button__accent" style="text-decoration: none">Register</a>
                            <a href="{% url 'login' %}" class="button button__accent" style="text-decoration: none">Login</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Who can use meal mill</h2>
                    <h3 class="text-muted section-subheading"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 col-lg-6" data-aos="fade-up" data-aos-duration="750">
                    <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x" style="color:#0C7020"></i>
                        <i class="fas fa-male fa-stack-1x fa-inverse"></i>
                    </span>
<!--                     <img class="rounded-circle img-fluid" width="100" height="100" src="{% static 'images/individual.svg' %}">
 -->                    <h4 class="section-heading">Individuals</h4>
                    <p class="text-muted"> Individuals looking to lose or gain weight can use Meal Mill for fully customizable meal plans. Long gone are the days of boring meal plans. With Meal Mill, you can add flavor to your diet and become your own nutritionist.</p>
                </div>
                <div class="col-md-4 col-lg-6 offset-lg-0" data-aos="fade-up" data-aos-duration="750" data-aos-delay="200">
                    <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x" style="color:#0C7020"></i><i class="fa fa-sitemap fa-stack-1x fa-inverse"></i></span>
<!--                     <img class="rounded-circle img-fluid" width="100" height="100" src="{% static 'images/coach.svg' %}">
 -->                    <h4 class="section-heading">Coaches</h4>
                    <p class="text-muted">Designing customized meal plans for clients can be a time consuming process. Coaches can use Meal Mill to greatly improve the meal planning process. Coaches also have the luxury of over 5000 meals to choose from, all with comprehensive caloric profiles. </p>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase">How it works</h2>
                    <h3 class="text-muted section-subheading">Its simple</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group timeline">
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'images/1.jpg' %}"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">You tell us some basic information</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" data-aos="fade-right" data-aos-duration="750">We take into account your age, weight, height, gender, activity level and goals</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'images/2.jpg' %}"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">We calculate your caloric requirements</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" data-aos="fade-left" data-aos-duration="750">Based on the information provided, we create a caloric profile and estimate your caloric needs</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'images/3.jpg' %}"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Based on your needs, we mill out a meal plan</h4>
                                </div>
                                <div class="timeline-body">
                                    <p data-aos="fade-right" data-aos-duration="750" class="text-muted"> The reccomended meal plans are in line with you goal and are rich in vitamins and minerals</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'images/4.jpg' %}"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Not happy with the meal plan? Regenerate as many times as you like!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" data-aos="fade-left" data-aos-duration="750">That's right, unlimited meal plans appearing instantly </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="poweredBy">
        <h2 class="text-uppercase text-center section-heading">Powered By</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-6" data-aos="fade" data-aos-duration="750">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'images/spoonacular-logo.svg' %}">
                        <h4>Spoonacular API</h4>
                        <p class="text-muted">A food and recipe API that acts as the source of our 5000+ meals.</p>
                    </div>
                </div>
                <div class="col-sm-6" data-aos="fade" data-aos-duration="750">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'images/rapid_api_logo.png' %}">
                        <h4>Rapid API</h4>
                        <p class="text-muted">An API Marketplace that connects our platform to Spoonacular's API.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="bg-light">
        <h2 class="text-uppercase text-center section-heading">Why choose meal mill</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-4" data-aos="slide-right" data-aos-duration="750">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'images/t1.jpg' %}">
                        <h4>Simple To Use</h4>
                        <p class="text-muted">Meal Mill makes meal planning simple. Meal Plans that suit your caloric requirements are generated instantly and with ease</p>
                    </div>
                </div>
                <div class="col-sm-4" data-aos="slide-up" data-aos-duration="750">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'images/t2.jpg' %}">
                        <h4>Accurate Data</h4>
                        <p class="text-muted">Our meal plans contain accurate information regarding both macronutrients and micronutrients </p>
                    </div>
                </div>
                <div class="col-sm-4" data-aos="slide-left" data-aos-duration="750">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'images/t3.jpg' %}">
                        <h4>Spice Up Your Diet</h4>
                        <p class="text-muted">Our access to over 5000 meals means you'll never see the same meal again! Make sure to save the ones you like!</p>
                    </div>
                </div>
            </div>


            <div class="row" style="justify-content: center;">
                <a href="{% url 'register' %}" class="button button__accent2" style="text-decoration: none">Register!</a>
                

            </div>

            <br>
            <div class="row" style="justify-content: center;">
                <a href="{% url 'contact_outer' %}" class="button button__accent2" style="text-decoration: none">Contact Us</a>
                
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><span class="copyright">Developed with ♥ by Nagaty. Designed with ♥ by Ali - &#169;</span></div>
            </div>
        </div>
        <div class="col"><span class="copyright"></span></div>
    </footer>

    <script type="text/javascript" src=" {% static 'js/bs-init.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>


{% endblock content %}